element.style{

}
h3{
    background-color: black;
    color: antiquewhite;
    font-size: large;
    
}
h3{
    display: block;
    font-size: large;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}
#box1{
    border:10px solid yellow;
}